<!doctype html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupView</title>
  </head>
  <body>
<p th:text="${item.seq}"></p>
<p th:text="${item.name}"></p>
<br>
<!--  <a href="/codeGroupXdmList">back</a></td>  -->
<a th:href="@{/codeGroupXdmList(seq=${item.seq})}" th:text="back"></a>
<a th:href="@{/codeGroupForm(seq=${item.seq})}" th:text="수정"></a>

<form method="post" action="codeGroupUpdtDt">
	<input type="text" name="seq" th:value="${item.seq}">
	<input type="text" name="name" th:value="${item.name}">
	<button type="submit">N,Y수정</button>
</form>

<form method="post" action="codeGroupDelete">
	<input type="text" name="seq" th:value="${item.seq}">
	<input type="text" name="name" th:value="${item.name}">
	<button type="submit">데이터 삭제</button>
</form>    
  </body>
</html>